DATABASE_URL=
PORT=
GH_TOKEN=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

SMTP_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
APP_URL=

SCANNER_SERVICE_REST_PORT=
GITHUB_API_TIMEOUT_MS=
SCANNER_SERVICE_REST_URL=
SCANNER_SERVICE_REST_TIMEOUT_MS=
SCANNER_POSTGRES_USER=
SCANNER_POSTGRES_PASSWORD=
SCANNER_POSTGRES_DB=
SCANNER_DATABASE_URL=
SCANNER_CRON_SCHEDULE="*/10 * * * *"

API_KEY=
REDIS_URL=
LOG_LEVEL=
